@font-face {
    font-family: "Futura";
    src: url(../fonts/avenir.otf);
}

@font-face {
    font-family: "Futura Bold";
    src: url(../fonts/avenir-next-bold.ttf);
}

* {
    font-family: "Futura";
    font-weight: normal;
}
h2 {
    font-family: 'Futura Bold';
}
.spacer {
    height: 50vh;
}

.vertical-centered {
    transform: translateY(-50%);
}
.primary-button {
    border: 2px solid #fc6076 !important;
}
#login-form-box {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    box-shadow: 0px 10px 27px 0px rgba(0,0,0,0.34);
    width: 40vw;
    padding: 1%;
    color: #ffffff;
    align-items: center;
    display: grid;
    margin: auto;
    font-size: 2rem;
}
#login-form-box h2 {
    color: white;
    font-family: "Futura Bold";
    text-align: center;
    font-size: 1em;
}

::placeholder {
    color: white;
    font-size: 1.5rem;
}
#login-form-box input {
    padding: 2%;
    height: 7vh;
    border: 0px;
    background: transparent;
    width: 30vw;
    border-bottom: 2px solid white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5rem;
}

#login-form-elements button {
/*    position: relative;
    left: 50%;
    transform: translateX(-50%);*/
    margin: auto;
    margin-top: 5%;
    background-color: transparent;
    color: white;
    border-radius: 2em;
    border: 2px solid white;
    width: 10vw;
    height: 4vh;
    font-size: 0.9rem;
    text-align: center;
    transition: background-color 0.1s;
    transition: border 0.1s;
}
#button-row {
    text-align: center;
/*    position: relative;
    left: 50%;
    transform: translateX(-50%);*/
    margin: auto;
}
#login-form-elements button:hover {
    background-color: rgba(255,255,255,0.2);
}


#login-form-elements {
    margin: auto;
}
#login-form-elements input:focus{
    outline: 0px;
    border-bottom: 2px solid #fc6076;
}
#main {
    display: grid;
}
@media (max-width: 992px) {
    #login-form-box {
        width: 90vw;
    }
    #login-form-box h2 {
        font-size: 5rem;
    }
    #login-form-box input {
        width: 80vw;
        height: 10vh;
        padding: 1%;
        font-size: 3rem;
    }
    ::placeholder {
        font-size: 3rem;
    }
    #login-form-elements button {
        width: 50vw;
        height: 6vh;
        font-size: 3rem;
    }
}
.grid-layout-main {
    display: flex;
}

#main-sidebar {
    height: 100vh;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    position: absolute;
    width: 20vw;
}

#main-sidebar ul {
    list-style: none;
}

#main-sidebar router-link {
    color: white;
    text-decoration: none;
}

#app {
    position: relative;
}

.app-screen {
    display: grid;
    margin: auto;
}

.title-card {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    box-shadow: 0px 10px 27px 0px rgba(0,0,0,0.34);
    padding: 1%;
    color: white;
    text-align: center;
    width: 60vw;
}

.title-card h2 {
    font-size: 2em;
}


/* State transitions */
.child-view {

    transition: all .5s cubic-bezier(.55,0,.1,1);
}
.slide-left-enter, .slide-right-leave-active {
    opacity: 0;
    -webkit-transform: translate(30px, 0);
    transform: translate(30px, 0);
}
.slide-left-leave-active, .slide-right-enter {
    opacity: 0;
    -webkit-transform: translate(-30px, 0);
    transform: translate(-30px, 0);
}