@font-face {
    font-family: "Futura";
    src: url(../fonts/Berthold Akzidenz Grotesk BE Regular.otf);
}

@font-face {
    font-family: "Futura Bold";
    src: url(../fonts/Berthold Akzidenz Grotesk Bold.otf);
}

* {
    font-family: "Futura";
    font-weight: normal;
}

#login-form-box {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    box-shadow: 0px 10px 27px 0px rgba(0,0,0,0.34);
    width: 40vw;
    padding: 1%;
    color: #ffffff;
    align-items: center;
    display: grid;
    margin: auto;
    font-size: 2rem;
}
#login-form-box h2 {
    color: white;
    font-family: "Futura Bold";
    text-align: center;
    font-size: 1em;
}

::placeholder {
    color: white;
    font-size: 1.5rem;
}
#login-form-box input {
    padding: 2%;
    height: 7vh;
    border: 0px;
    background: transparent;
    width: 30vw;
    border-bottom: 2px solid white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5rem;
}

#login-form-elements button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5%;
    background-color: transparent;
    color: white;
    border-radius: 2em;
    border: 2px solid white;
    width: 10vw;
    height: 4vh;
    font-size: 0.9rem;
    text-align: center;
    transition: background-color 0.1s;
    transition: border 0.1s;
}

#login-form-elements button:hover {
    background-color: rgba(255,255,255,0.2);
}


#login-form-elements {
    margin: auto;
}
#login-form-elements input:focus{
    outline: 0px;
    border-bottom: 2px solid #fc6076;
}
#main {
    display: grid;
}
@media (max-width: 992px) {
    #login-form-box {
        width: 90vw;
    }
    #login-form-box h2 {
        font-size: 5rem;
    }
    #login-form-box input {
        width: 80vw;
        height: 10vh;
        padding: 1%;
        font-size: 3rem;
    }
    ::placeholder {
        font-size: 3rem;
    }
    #login-form-elements button {
        width: 50vw;
        height: 6vh;
        font-size: 3rem;
    }
}