@font-face {
    font-family: "Futura";
    src: url(../fonts/avenir.otf);
}

@font-face {
    font-family: "Futura Bold";
    src: url(../fonts/avenir-next-bold.ttf);
}

* {
    font-family: "Futura";
    font-weight: normal;
}
h2 {
    font-family: 'Futura Bold';
    font-weight: normal;
}
.spacer {
    height: calc(50vh - 100px);
}

.hidden {
    display: none;
}

.loading-icon {
    position: absolute !important;
    top: 0px;
    left: 0px;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

#logo {
    height: 230px;
    width: 230px;
    background-image: url(https://beta.masseyhacks.ca/images/logo/logo.svg);
    z-index: 90001;
    background-size: cover;
}

.vertical-centered {
    transform: translateY(-50%);
}
.primary-button {
    border: 2px solid #fc6076 !important;
}
#login-form-box {
    position: relative;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    box-shadow: 0px 10px 27px 0px rgba(0,0,0,0.34);
    width: 40vw;
    padding: 1%;
    color: #ffffff;
    align-items: center;
    display: grid;
    margin: auto;
    font-size: 2rem;
    text-align: center;
}
#login-form-box h2 {
    color: white;
    font-family: "Futura Bold";
    text-align: center;
    font-size: 1em;
}

::placeholder {
    color: white;
    font-size: 1.5rem;
}

.dropdown-toggle input::placeholder{
  font-size: 1rem;
}
#login-form-box input {
    padding: 2%;
    height: 7vh;
    border: 0px;
    background: transparent;
    width: 30vw;
    border-bottom: 2px solid white;
    position: relative;
/*    left: 50%;
    transform: translateX(-50%);*/
    color: white;
    font-size: 1.5rem;
    text-align: left;
}

#login-form-elements button {
/*    position: relative;
    left: 50%;
    transform: translateX(-50%);*/
    margin-top: 5%;
    background-color: transparent;
    color: white;
    border-radius: 2em;
    border: 2px solid white;
    width: 10vw;
    height: 4vh;
    font-size: 0.9rem;
    text-align: center;
    transition: background-color 0.1s;
    transition: border 0.1s;
}
#button-row {
    text-align: center;
/*    position: relative;
    left: 50%;
    transform: translateX(-50%);*/
    margin: auto;
}
#login-form-elements button:hover {
    background-color: rgba(255,255,255,0.2);
}


#login-form-elements {
    margin: auto;
}
#login-form-elements input:focus{
    outline: 0px;
    border-bottom: 2px solid #fc6076;
}
#main {
    display: grid;
}
@media (max-width: 992px) {
    #login-form-box {
        width: 90vw;
    }
    #login-form-box h2 {
        font-size: 5rem;
    }
    #login-form-box input {
        width: 80vw;
        height: 10vh;
        padding: 1%;
        font-size: 3rem;
    }
    ::placeholder {
        font-size: 3rem;
    }
    .dropdown-toggle input::placeholder{
      font-size: 2rem;
    }
    #login-form-elements button {
        width: 50vw;
        height: 6vh;
        font-size: 3rem;
    }
    .main-login {
        left: calc(50% - 45vw)!important;
    }
}

#main-sidebar {
    height: 100vh;
    /*background: rgb(8,27,74);*/
    background: rgb(32, 66, 123);
    position: fixed;
    min-width: 230px;
    z-index: 700;
    overflow-y: auto;

    /*
    padding-bottom: 50px;
    padding-top: 50px;*/

    transition: left .5s;
    left: 0;
}

#main-sidebar ul {
    position: relative;
    list-style: none;
    color: white;
    left: 0px;
    padding-left: 0px;
}

#main-sidebar button {
    position: relative;
    color: white;
    text-decoration: none;
    align-items: center;
/*    top: 50%;
    transform: translateY(-50%);*/
    background-color: transparent;
    border: none;
    /*border-bottom: 2px solid #667eea;*/
    width: 100%;
    /*left: 50%;
    transform: translateX(-50%);*/
    text-align: left;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
}

#main-sidebar a.router-link-active button {
    border-left: 4px solid #1b84db;
    background-color: #162f4f;
}

#main-sidebar a.router-link-active button:focus {
    outline: none;
}

#main-sidebar button:hover {
    color: rgba(255,255,255,0.7);
}

#main-sidebar button {
    outline: none;
}

#main-sidebar li {
    /*margin-top: 30px;*/
    position: relative;
    width: 230px;
}

/* width */
#main-sidebar::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#main-sidebar::-webkit-scrollbar-track {
    background: #132839;
}

/* Handle */
#main-sidebar::-webkit-scrollbar-thumb {
    background: #071d2d;
}

/* Handle on hover */
#main-sidebar::-webkit-scrollbar-thumb:hover {
    background: #575d62;
}

.main-login {
    left:calc(50% - 20vw - 115px);
}

#top-bar {
    left: 0px;
    width: 100vw;
    height: 100px;
    position: fixed;
    background: rgb(48, 48, 48);
    z-index: 600;
}

#top-bar-highlight {
    position: absolute;
    background-image: linear-gradient(135deg, #4bc2e4 0%, #085fae 100%); /*url("../img/highlight.svg");*/
    background-position: center;
    background-size: cover;

    right: -20px;
    top: 0;

    width: 400px;
    height: 100%;

    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}

#top-bar-text {
    z-index: 605;

    position: absolute;

    right: 0;
    top: 0;

    width: 350px;
    height: 100%;

    padding: 20px;

    color: white;

    text-align: right;
}

#app-view {
    position: relative;
    top: 100px;
    left: 230px;
    max-width: calc(100vw - 230px);
    height: calc(100vh - 100px);
    padding-bottom: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* width */
#app-view::-webkit-scrollbar {
    width: 10px;
    z-index: 500;
}

/* Track disabled */
#app-view::-webkit-scrollbar-track:disabled {
    background: white;
}

/* Thumb disabled */
#app-view::-webkit-scrollbar-thumb {
    background: white;
}

/* Track */
#app-view::-webkit-scrollbar-track {
    background: lightgray;
}

/* Handle */
#app-view::-webkit-scrollbar-thumb {
    background: darkgrey;
}

/* Handle on hover */
#app-view::-webkit-scrollbar-thumb:hover {
    background: #575d62;
}

.app-screen {
    padding-left: 10px; /* Makes it even with the scrollbar */
    margin: 0 auto;
    text-align: center;
    width: 100%;
    /*
    left: 50%;
    transform: translateX(-50%);*/

}

.ui-card {
    background: rgb(230,230,230);
    color: black;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 10px 27px 0px rgba(0,0,0,0.34);
}

.ui-card h3 {
    font-family: 'Futura Bold';
    font-size: 1.5em;
/*    letter-spacing: 0.3em;*/
}

.title-card {
/*    padding: 1%;*/
    text-align: center;
    margin-top: 50px;
    /*border-bottom: 2px solid black;*/
}

.title-card h2 {
    font-size: 3.5em;
    letter-spacing: 0.3em;
    text-align: center;
    font-family: 'Futura Bold' !important;
}

.dash-card {
    width: 50vw;
    margin-top: 30px;
}

.dash-card-large {
    width: 70vw;
    margin-top: 30px;
    /*background-image: linear-gradient(#667eea,#667eea);*/
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
}

.dash-card-large hr {
    border-color: white;
}

.duo-col {
    column-count: 2;
    column-width: 220px;
}

@media (max-width: 992px) {
    * {
        font-size: 1.1em;
    }
    .duo-col {
        column-count: 1;
    }
}

.custom-ul {
    list-style: none;
    text-align: justify;
}

.custom-ul i {
    margin-right: 1em;
    width: 15px;
    text-align: center;
}

#users-table {
    margin-bottom: 30px;
    overflow-x: auto;
}

#users-table table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: white;
    text-align: center;
}

#users-table td.email-col {
    max-width: 200px;
    overflow-wrap: break-word;
}

#users-table tr {
    vertical-align: center;
    border-bottom: 1px solid white;

}

#users-table td {
    padding: 15px;
}

#users-table tr:hover {
    border-color: #f78ca0;
}

#users-table i {
    letter-spacing: 0.7em;
    text-align: center;
}

#users-table a {
    color: white;
}

i.fa-ban {
    color: #f6d365;
}

i.fa-check {
    color: #96e6a1;
}

i.fa-male {
    color: #c2e9fb;
}

i.fa-female {
    color: #f093fb;
}

#table-header {
    font-family: 'Futura Bold';
    font-size: 1.2em;
    border-color: transparent !important;
}

#table-header td {
    font-family: 'Futura Bold';
    letter-spacing: 0.2em;
}


h4 {
    font-family: 'Futura Bold' !important;
    font-size: 0.8em;
    letter-spacing: 0.3em;
}

.ui-grid {
    margin-top: 50px;
    grid-column-gap: 50px;
    display: grid;
    grid-template-columns: 25vw 25vw;

}

.ui-grid-item{
    margin-bottom: 50px;
    width: 25vw;
    align-items: left;
}

.ui-grid-item input {
    padding: 2%;
    border: 0px;
    width: 90%;
    background: transparent;
    border-bottom: 2px solid gray;
    color: black;
    text-align: left;
}

.ui-grid-item input:focus {
    outline: 0px;
    border-bottom: 2px solid black;
}

.filterEntry select {
    height: 30px;
    margin-top: 10px;
    border: 1px gray solid;
}

.filterEntry input {
    height: 30px;
    border: 1px gray solid;
}

.filterEntry>.first {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.filterEntry>.last {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.sortable:hover {
    border-bottom: white 2px solid;
}

.sortable {
    cursor: pointer;
}

@media (max-width: 992px) {
    .dash-card {
        width: 95vw;
    }
    .dash-card-large {
        width: 95vw;
    }

    #app-view {
        max-width: 100vw;
        left: 0px;
    }

    #main-sidebar {
        left: -100%;
    }

    .title-card h2 {
        font-size: 2em;
    }
}

.generic-button {
    border-radius: 2em;
    padding: 10px;
    min-width: 10rem;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    transition: background-color 0.1s;
}

.generic-button-small {

}

.generic-button:hover {
    background-color: rgba(0,0,0,0.2);
}

.generic-button-light {
    border-radius: 2em;
    padding: 10px;
    min-width: 10rem;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    transition: background-color 0.1s;
}

.generic-button-light:hover {
    background-color: rgba(255,255,255,0.2);
}

.generic-button-light:focus {
    outline: none;
}

.generic-button-dark {
    border-radius: 2em;
    padding: 10px;
    min-width: 10rem;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    transition: background-color 0.1s;
}

.generic-button-dark:hover {
    background-color: rgba(0,0,0,0.2);
}


/* State transitions */
.child-view {
    transition: all .5s; cubic-bezier(.55,0,.1,1);
    position: absolute;

    /*left: 50%;
    transform: translateX(-50%);*/
}

.slide-left-enter, .slide-right-leave-active {
    opacity: 0;
    -webkit-transform: translate(1000px, 0);
    transform: translate(1000px, 0);
}
.slide-left-leave-active, .slide-right-enter {
    opacity: 0;
    -webkit-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
}

.slide-up-enter, .slide-down-leave-active {
    opacity: 0;
    -webkit-transform: translate(0, 1000px);
    transform: translate(0, 1000px);
}
.slide-up-leave-active, .slide-down-enter {
    opacity: 0;
    -webkit-transform: translate(0, -1000px);
    transform: translate(0, -1000px);
}

/* Placeholder */
